.home {
    display: flex;
   

    .homeContainer {

        flex: 6;

        .widgets,
        .charts {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts {
            padding: 5px 20px;

        }

        .listContainer {
            padding: 20px;
            margin: 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);


            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;

            }
        }
    }
}
@media screen and (max-width:1024px) {
    
.home {
    display: flex;
    // border: 1px solid red;
padding: 0px;
margin: 0px;

    .homeContainer {
        // border: 1px solid rgb(251, 255, 0);

        flex: 2;
width: 40%;
        .widgets,
        .charts {
            display: flex;
            padding: 20px;
            gap: 20px;
            // border: 1px solid rgb(166, 255, 0);
        }

     .widgets{
        // flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        // border: 1px solid rgb(228, 20, 20);
     }
        .widget {
            // display: block;
            // flex-basis: 50%; 
            // border: 1px solid rgb(0, 0, 0);
        }
        

        .charts {
            padding: 5px 20px;
            // border: 1px solid rgb(0, 0, 0);
            flex-direction: column;
            margin: 30px 0px;
        }

        .listContainer {
            padding: 2%;
            margin: 4%;
      
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            width: 88%;
            // border: 1px solid rgb(255, 0, 0);

            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
                // border: 1px solid rgb(5, 3, 4);
                width: 100%;
                

            }
        }
    }
}

}















