.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);

    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table {
        background-color: #111;

        .tableCell {
            color: gray;

        }
    }

    .navbar {
        color: #999;
        border-color: #333;

        .search {

            border-color: gray;
        }
    }

    .sidebar {
        background-color: #111;
        // color: rgb(156, 156, 156);
        border-color: #333;

        .top {
            .logo {
                color: #999;

            }
        }

        hr {
            border-color: #333;

        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }

                .icon {
                    color: #999;
                }
            }
        }
    }

    .datatable {
        .MuiTablePagination-toolbar {
            color: gray;
        }

        .datagrid {
            color: gray;
            border: none;

            .viewButton,
            .deleteButton,
            .cellWithStatus {
                color: gray;
                border: none;
            }


        }
    }

    .orders {
        background-color: #111;

        .ordersContainer {

            .backbtn {
                color: #999;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .customcard {

        .card_container {
            background-color: #111;

            color: #999;

            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(134, 133, 133, 0.47);

            .cardDescription {

                color: #999;
            }

            button {
                border: 1px solid #dddada;
                color: #dddada;
                color: #f8be00;
                cursor: pointer;

                &:hover {
                    border: 1px solid #f8be00;
                    color: #f8be00;
                    color: #dddada;
                }
            }
        }
    }

    input {
        background-color: transparent;
    }
}